<div class="container">
    <div class="a">
        <div class="b"><img class="c" src="assets/top1.jpg"></div>
	    <div class="b"><img class="c" src="assets/top2.jpg"></div>
	    <div class="b"><img class="c" src="assets/top3.jpg"></div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<%= javascript_include_tag('skippr.min.js') %>
<%= javascript_include_tag('slick.min.js') %>
<%= javascript_include_tag('top.js') %>

<style>
    .c{
  height: 500px;
  width :100%;
}

</style>


